<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name=".notification.ApplicationState"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Haushalt_App_Java">
        <activity
            android:name=".profile.profile_update_Activity"
            android:exported="false" />
        <activity
            android:name=".profile.profile_Activity"
            android:exported="false" />
        <activity
            android:name=".haushalt_activity.delete_mitglied_Activity"
            android:exported="false" />
        <activity
            android:name=".haushalt_activity.delete_haushalt_Activity"
            android:exported="false" />
        <activity
            android:name=".haushalt_activity.AddHaushaltActivity"
            android:exported="false"
            android:parentActivityName=".haushalt_activity.HaushaltActivity" />
        <activity
            android:name=".haushalt_activity.AddUserActivity"
            android:exported="false"
            android:parentActivityName=".haushalt_activity.HaushaltActivity" />
        <activity
            android:name=".haushalt_activity.HaushaltActivity"
            android:exported="false" />
        <activity
            android:name=".product_activity.pUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".product_activity.AddProductActivity"
            android:exported="false" />

        <activity
            android:name=".product_activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity2"
            android:exported="false" />
        <activity
            android:name=".activity.EinkaufslisteActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity2"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.JoinHouseholdActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="haushaltapp"
                    android:host="join" />
            </intent-filter>
        </activity>
        <service
            android:name=".notification.DatabaseChangeService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
    </application>

</manifest>
